@font-face {
    font-family: "Aromia";
    src: url(./fonts/AromiaScript-Black.woff);
}

@font-face{
    font-family: "Forced Square";
    src: url(./fonts/FORCED-SQUARE.woff);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Aromia";
    color:white;
}

#top {
    width: 100%;
    height: 768px;
    background: black url('../assets/fundohtml.jpg');
}

#top hr {
    margin: 0 auto 14px auto;
    width: 1200px;
    border: 1px solid black;
    box-shadow: 2px 2px 6px blueviolet;
}

header {
    height: 80px;
    font-size: 32px;
    padding: 10px 20px;
    width: 85%;
    margin: 0 auto;
}

header h1 {
    float: left;
    line-height: 80px;
    text-shadow: 2px 2px black;
}

nav ul {
    list-style: none;
    float: right;
}

nav ul li {
    margin-left: 30px;
    margin-top: 0.7em;
    line-height: 50px;
    float: left;
}

nav ul li a {
    padding: 20px 10px;
    color: blueviolet;
    transition: color 2s;
}

nav ul li a:hover {
    color: #E84AD0;
    transition: color 2s;
}

.navbox {
    border-radius: 8px 2px 8px 2px;
    background-color: black;
    transition: all 2s;
}

.navbox:hover {
    border-radius: 25px 5px 25px 5px;
    transition: all 3s;
}

a:link, a:active, a:visited {
    color: white;
    text-decoration: none;
}

#game {
    width: 1120px;
    height: 520px;
    margin: auto;
    box-shadow: 1px 1px 6px black;
    border-radius: 10px 2px 10px 2px;
    clear: both;
}

#comojogar {
    width: 100%;
    height: 1000px;
    background: black;
}

#comojogar p {
    text-indent: 10px;
    font-size: 32px;
    color: #E84AD0;
    line-height: 1.2em;
    width: 600px;
    text-align: justify;
}

#instrucoes {
    width: 92%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ione {
    margin: 150px 0 0 70px;
}

.itwo {
    margin: 100px 110px 80px 0;
}

.itwo h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.ithree {
    margin-top: 40px;
    margin-left: 110px;
}

.ifour {
    margin-right: 70px;
}

footer {
    clear: both;
}
