@font-face {
    font-family: "Aromia";
    src: url(./fonts/AromiaScript-Black.woff);
}

@font-face{
    font-family: "Forced Square";
    src: url(./fonts/FORCED-SQUARE.woff);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Aromia";
    color:white;
}

#top {
    width: 100%;
    height: 768px;
    background: black url('../assets/fundohtml.jpg');
}

#jogar {
    padding-top: 100px;
    width: 1200px;
    margin: 0 auto;
}

#jogar h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 35px;
}

header {
    height: 80px;
    font-size: 30px;
    padding: 10px 20px;
    width: 85%;
    margin: 0 auto;
}

#menu {
    background: url('../assets/blackbar.jpg') repeat-x;
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    height: 80px;
}

header h1 {
    float: left;
    line-height: 70px;
    font-size: 42px;
}

nav ul {
    margin-top: 5px;
    list-style: none;
    float: right;
}

nav ul li {
    margin-left: 30px;
    line-height: 50px;
    float: left;
}

nav ul li a {
    padding: 20px 10px;
    color: blueviolet;
    transition: color 2s;
}

nav ul li a:hover {
    color: black;
    transition: color 2s;
}

.navbox {
    border-radius: 8px 2px 8px 2px;
    background-color: blueviolet;
    transition: all 2s;
}

.navbox:hover {
    border-radius: 25px 5px 25px 5px;
    background-color: #E84AD0;
    transition: all 3s;
}

a:link, a:active, a:visited {
    color: white;
    text-decoration: none;
}

#game {
    width: 1120px;
    height: 520px;
    margin: 0 auto;
    border-radius: 10px 2px 10px 2px;
    box-shadow: 1px 1px 6px black;
    clear: both;
}

#comojogar {
    width: 100%;
    height: 1000px;
    background: black;
}

#comojogar p {
    text-indent: 10px;
    font-size: 32px;
    color: #E84AD0;
    line-height: 1.2em;
    width: 600px;
    text-align: justify;
}

#instrucoes {
    width: 92%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ione {
    margin: 150px 0 0 70px;
}

.itwo {
    margin: 100px 110px 80px 0;
}

.itwo h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.ithree {
    margin-top: 40px;
    margin-left: 110px;
}

.ifour {
    margin-right: 70px;
}

footer {
    clear: both;
    width: 100%;
    height: 50px;
    background-color: blueviolet;
}

footer h4 {
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
}
